.Cards {
    h2 {
        margin-top: 20px;
        font-size: 60px;
        text-align: center;
        font-weight: 700;
        background: linear-gradient(104.74deg, #050A27 0%,rgb(194, 200, 229) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.CardGroup {
    margin: 50px 40px 100px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-items: center;
}

.Card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    overflow: hidden;
    width: 300px;   
    height: 225px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;

    &:hover , &:focus{
        transform: scale(1.1, 1.1);
        box-shadow: 0 30px 60px rgba(0,0,0,0.5);

        img {
            transform: translateY(-20px);
        }
    }

    img {
        height: 110%;
        position: absolute;
        top: 0;
        z-index: -1;
        transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    h3 {
        width: 190px;
        margin: 20px 0 0 20px;
        color: white;
        font-size: 30px;
    }

    p {
        color: rgba(255,255,255,0.7);
        margin: 0 20px 0 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        // align-self: end;
    }
}

@media (max-width: 1060px){
    .CardGroup {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 720px){
    .Cards {
        h2{
            font-size: 30px;
        }
    }
    .CardGroup{
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
    }
}
